@import "tailwindcss";




/* MOTIVATON.JSX */
 .animated-border {
  background: linear-gradient(
    90deg,
    #f58a8a,
    #ffae00,
    #ecf027,
    #ee9d4c
  );
  background-size: 300% 300%;
  animation: borderMove 4s linear infinite;
  box-shadow: 
    0 0 12px rgba(255, 0, 0, 0.7),
    0 0 24px rgba(255, 174, 0, 0.6),
    0 0 36px rgba(0, 255, 204, 0.5);
}

@keyframes borderMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 300% 50%;
  }
}


/* index.css */
/* for theme change */
body {
  background-color: #000;
  color: #fff;
  transition: all 0.3s ease;
}

/* light theme */
.light-theme {
  background-color: #ffffff;
  color: #000000;
}


/* theme page  */
body {
  background-color: #0f172a;
  color: #f8fafc;
  transition: all 0.3s ease;
}

body.light-theme {
  background-color: #f8fafc;
  color: #0f172a;
}

/* CARdS ANIMATION  */
:root {
  --shine-color: rgba(255, 255, 255, 0.35);
  --shine-speed: 1.5s;
  --shine-angle: 120deg;
}

/* Card base (important) */
.shine-card {
  position: relative;
  overflow: hidden;
}

/* Moving white line */
.shine-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 200%;
  height: 100%;

  background: linear-gradient(
    var(--shine-angle),
    transparent 40%,
    var(--shine-color) 50%,
    transparent 60%
  );

  transition: none;
}

/* Hover pe animation */
.shine-card:hover::before {
  animation: shine-move var(--shine-speed) linear infinite;
}

/* Keyframes */
@keyframes shine-move {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(50%);
  }
}

